<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="imagensProjeto/livro2.png" alt="" width="150" height="150">
    <h5 class="display-6 fw-bold">Livraria</h5>
    <br>
    {{#each livros}}
        <div class="card">
            <div class="card-body">
                <h4>{{titulo}}</h4><br>
                <b>Autor:</b>{{autor}}<br>
                <b>Páginas:</b>{{numero_paginas}}<br>
                <b>Ano de Lançamento:</b>{{ano_lancamento}}<br>
                <b>Genero:</b>{{genero}} <br><br>
                <a href="/livro/{{_id}}"><button type="button" class="btn btn-dark">sobre</button></a>
            </div>
        </div>
        <br>
    {{else}}
        <h4>Nenhum Livro cadastrado</h4>
    {{/each}}
</div>