<div class="text-center">
    <img class="d-block mx-auto mb-4" src="/imagensProjeto/livro2.png" alt="" width="200" height="200">
</div>
<br><br>
<div class="card">
    <div class="card-body">
        <h4>{{livro.titulo}}</h4><br>
        <b>Autor:</b>{{livro.autor}}<br>
        <b>Páginas:</b>{{livro.numero_paginas}}<br>
        <b>Ano de Lançamento:</b>{{livro.ano_lancamento}}<br>
        <b>Genero:</b>{{livro.genero}} <br><br>
        <small><b>Sinopse:</b>{{livro.sinopse}}</small><br>
    </div>
</div>
<br>